services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_URL=http://localhost:5000
      - NEXT_PRIVATE_API_URL=http://backend:5000

  backend:
    build:
      context: ./my_flask_app
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./my_flask_app:/app
      - ./models:/app/models
      - ./uploads:/app/uploads
    environment:
      - FLASK_ENV=development
      - GOOGLE_AI_API_KEY=AIzaSyClbS48HrkM8ZqeEUjROfgqO99759DO2Oc
      - GOOGLE_AI_BASE_URL=https://generativelanguage.googleapis.com/v1beta
